@import url("https://fonts.bunny.net/css?family=space-mono:400|Inter:400");

* {
	font-family: "Inter", serif;
	user-select: none;
}

input,
code {
	user-select: text;
}

code {
	font-family: "Space Mono", monospace !important;
	font-size: 0.9rem !important;
	@apply py-2 px-3 mt-2 w-full min-h-5 font-normal flex items-center justify-start rounded-md bg-blue-gray-900 text-blue-gray-100;
}

a[href="https://fontsource.org/fonts" ]
{
	text-decoration: underline;
	@apply underline-emerald-600 underline-3;
}

/* Icon */
.gg-chevron-right-o {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs, 1));
	width: 22px;
	height: 22px;
	border: 2px solid;
	border-radius: 100px;
	margin-right: 0.75rem;
	@apply text-blue-gray-500;
}

.gg-chevron-right-o::after {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 6px;
	height: 6px;
	border-bottom: 2px solid;
	border-right: 2px solid;
	transform: rotate(-45deg);
	left: 5px;
	top: 6px;
}

details[open] .gg-chevron-right-o {
	transform: rotate(90deg);
}
